.blog-page{
    background-image: url("../../assets/images/bg_2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 60vh;
}

.blog-sec{
    top:70%
}

.blog-sec a{
text-decoration: none;
color: rgb(160, 160, 180);
}

.blog-herohead{
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.blogpage-section{
    background-color: white;
    padding: 10rem 0;
  }

